body{
background-color:#B0B0B0;
}
h1{
	text-align: center;
	color:blue;

	border: solid;
	border-color: blue;
	padding-top: 20px;
	padding-bottom: 20px;
}
h2{
	text-align: center;
	color:red;

}
img{
 width : 100%;
}
p{
	font-size: 22px;
}

