body
{
	background-color:#B0B0B0;
	
}
h2
{ 
color: red; 
text-align: center;
}
h1
 {
 	color: blue;
 	text-align: center;
 	border-width:3px;
 	border-style:solid;
 	border-color: blue;
 	padding:22px 0px;

}
p
{
	font-size:22px;
}
img
{
	width: 100%;
	height: auto;
}