/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   background-image: url('images/bg-tile.gif')
}

.container {
color: #4b2707;
margin: 0 auto;
width: 974px;


}


/* Typography */

h1, h2 {
font-family: Love Ya Like A Sister;
text-align: center;
}

h1

}

h1 em {

}

h2 {

}

h3 {

}

p.lead {

}

p {

}

a:link, a:visited {

}

a:hover {

}

hr {

}


/* Header */

header nav {

}

header nav ul {
	
	display: flex;
	margin: auto;
	width: 900px;
	align-items: center;
	justify-content: space-around;



}

header nav ul li {

text-transform: uppercase;
font-weight: bold;
display: inline;

}

header nav ul li a {
color: #d17f38;
text-decoration: none;
}

header nav ul li a:hover {

}

header nav ul li#logo a {

background-image: url('images/logo.png');
width:300px; 
height:150px;
display: inline-flex;
background-position: center;
text-indent: -9999px;
background-repeat: no-repeat;
}

header nav ul li#logo a:hover {
	background-image: url('images/logo-hover.png');
	width: 300px;
	height: 150px;
	display: inline-flex;
	background-position: center;
	background-repeat: no-repeat;


}


/* Hero */

#hero {

background-image: url('images/bg-tile-yellow.gif');
height: 500px;
}

#hero .container {


}

#hero .large-ribbon {

background-image: url('images/fresh-whole-ingredients.png');
width:200px; 
height:200px;
position: relative;
background-repeat: no-repeat;
text-indent: -9999px;
right: -830px;
top: -510px;

}


/* The Whole Story */

#story-excerpt {

}

#best-donut {



/* News & Events */

#articles {

}

#feature-image {

}

#news-events article {

}

#news-events article.news {

}

#news-events article.event {

}

#news-events header time {

}

#news-events section.excerpt {

}

#news-events footer {

}


/* Footer */

footer.main {

}

footer.main a:hover {

}

#uncopyright, #credits {

}

#uncopyright {

}

#credits {

}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





